header{


    background-color: rgb(102, 149, 187);
    overflow: hidden;
    #logo{

        height: 120px;
        width: 120px;
        float: left;
        


    }



}




body{

    background-color: rgb(143, 187, 223);


}
    
h1{
    text-align: right;



}
    

